{% extends 'layout.twig' %}

{% block body %}
  
  <div id="custom_container" class="container home-page">
    <h5>Are you ready to face the honest opinions?</h5>
    <p>get a fast and private honest opinions.</p>

    <a href="/users/register" class="waves-effect waves-light btn">Signup</a>
    <a href="/users/login" class="waves-effect waves-light btn">Login</a>


  </div>
        
{% endblock %}
