{% extends 'layout.twig' %}

{% block body %}
  
  <div id="custom_container" class="container" style="max-width: 300px; text-align: center">
    <h1><i class="icon ion-android-done-all" style="color: #2ecc71"></i></h1>
    <h4>Message has been sent!</h4>
    <br>
    <a href="/users/register" class="waves-effect waves-light btn">Create your own account?</a>
  </div>
        
{% endblock %}
