/*Geneal styling*/
body{
    background: #EEE;
}
#custom_container{
    background: #FFF;
    padding: 15px 20px;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-top: 30px;
}
.site-prefix{
    position: relative;
}
.site-prefix.col label{
    left: 90px;
}
.site-prefix.col input{
    padding-left: 80px;
    width: calc(100% - 80px);
}

.site-prefix:after{
    content: 'Site.com/';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    /*background: #26a69a;
    color: #FFF;*/
    height: 3rem;
    margin-top: 1px;
    line-height: 46px;
    padding: 0 10px;
    /*border: 1px solid #9e9e9e;*/
    border-radius: 5px 0 0 5px;
}


/*Profile*/
.profile-page{
    margin-top: 30px;
}

.profile{
    text-align: center;

}
.profile .avatar{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-size: 100%;
    background-position: center center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    margin: 20px auto
}
.profile .name{
    font-size: 20px;
}
.profile .counters{
    font-size: 13px;
    opacity: .85;
}
.profile .counters .space{display: inline-block; margin: 0 5px}

.hr{
    display: block;
    height: 5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 50px auto;
    width: 300px;
    margin-bottom: 30px;
}

.messages > .row{margin-bottom: 0}
.messages .btn{margin: 25px 10px}

.my_url{
    display: inline-block;
    margin: 10px auto
}